<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar mode="ios" slot="end">
      <img src="./assets/images/woman-avatar.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="search ion-margin" mode="ios">
    <ion-input type="text" placeholder="Search item"></ion-input>
    <ion-icon size="small" slot="start" name="search-outline"></ion-icon>
    <ion-button slot="end" (click)="null" fill="clear" color="medium">
      <ion-icon size="small" slot="icon-only" name="filter-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list lines="full">

    <ng-container *ngIf="(items$ | async) as items; else loadingOrError">
      <ng-container *ngFor="let item of items">
        <app-dashboard-item (click)="viewItem(item)" [item]="item"
          (more)="openModal(item.name)"></app-dashboard-item>
      </ng-container>
    </ng-container>

    <ng-template #loadingOrError>
      <app-dashboard-item></app-dashboard-item>

    </ng-template>

  </ion-list>

  <ion-modal #modal [isOpen]="isModalOpen" (didDismiss)="closeModal()"
    class="auto-height bottom">
    <ng-template>
      <div class="inner-content">
        <ion-list lines="full">

          <ion-list-header>
            <ion-label>{{selectedItem}}</ion-label>
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
            </ion-button>
          </ion-list-header>

          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>
                  Update Product Information
                </h3>
              </ion-text>
              <p><sub>All Changes are effective immediately</sub></p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>
                  Inventory Management
                </h3>
              </ion-text>
              <p><sub>
                  Manually adjust your current inventory and stock.
                </sub></p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>
                  Purchase History </h3>
              </ion-text>
              <p><sub>Check out the product purchase history, payments and dues.</sub></p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>
                  Report </h3>
              </ion-text>
              <p><sub>Product sales and purchase reports.</sub></p>
            </ion-label>
          </ion-item>

        </ion-list>

        <ion-button class="ion-margin-horizontal ion-margin-bottom"
          (click)="null" expand="block"
          fill="solid" shape="round"
          color="danger">
          Delete
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-fab (click)="addItem()" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-container *ngIf="(cartItems$ | async) as items">
    <ion-fab *ngIf="items.totalItems " (click)="viewCart()"
      slot="fixed" horizontal="start" vertical="bottom">
      <ion-fab-button color="tertiary">
        <ion-icon name="cart" color="light"></ion-icon>
      </ion-fab-button>
      <ion-badge color="secondary">{{items.totalItems}}</ion-badge>
    </ion-fab>
  </ng-container>

</ion-content>
