<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="pos-header">
      <h3>Point of Sale</h3>
    </div>

    <ion-avatar slot="end">
      <jv-user-info></jv-user-info>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="search" mode="ios">
    <ion-input type="text" placeholder="Search item"></ion-input>
    <ion-icon size="small" slot="start" name="search-outline"></ion-icon>
    <ion-button slot="end" (click)="null" fill="clear" color="medium">
      <ion-icon size="small" slot="icon-only" name="filter-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- <ion-input type="text" class="search" (keyup)="openPopOver($event)">Select Bank</ion-input> -->

  <ion-list-header>
    <ion-label>All Products</ion-label>
    <ion-buttons>
      <ion-button color="dark" (click)="scanCode()" expand="block" fill="clear"
        shape="round">
        <ion-icon slot="icon-only" size="small"
          src="./assets/custom-icons/barcode.svg"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="null" expand="block" fill="clear"
        shape="round">
        <ion-icon slot="icon-only" size="small" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-list-header>

  <ion-grid fixed class>
    <ion-row>
      <ng-container
        *ngIf="(itemsWithQuantity$ | async) as items;else loading">
        <ion-col *ngFor="let item of items" size="6" size-md="4">
          <ion-card class="card ion-no-margin" (click)="onCardClick(item)" [ngClass]="item.level < 1 ? 'grayscale' : ''">
            <div class="image-container">
              <img [alt]="item.name" #img
                [src]=" item.item_image ?? './assets/images/no-image.svg'"
                (error)="img.src = './assets/images/no-image.svg'" />
                <div class="overlay" *ngIf="item.level < 1">
                  Out of Stock
              </div>
            </div>
            <div class="card-content">
              <div class="buttons">

                <ng-container *ngIf="item.quantityInCart > 0">
                  <ion-buttons>
                    <ion-button

                      *ngIf="item.quantityInCart === 1; else reduceItems"
                      slot="start"
                      (click)="removeFromCart(item); $event.stopPropagation()"
                      fill="clear"
                      color="danger">
                      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-button>
                    <!-- <strong>
                      <p>
                        {{item.quantityInCart}}
                      </p>
                    </strong> -->
                    <ion-badge color="secondary">{{item.quantityInCart}}</ion-badge>

                    <ng-template #reduceItems>
                      <ion-button slot="start" color="primary"
                        (click)="reduceFromCart(item); $event.stopPropagation()">
                        <ion-icon slot="icon-only"
                          style="--ionicon-stroke-width: 70px;"
                          name="remove-outline"></ion-icon>
                      </ion-button>

                    </ng-template>

                    <ion-button slot="end" color="primary"
                      (click)="addToCart(item); $event.stopPropagation()">
                      <ion-icon slot="icon-only"
                        style="--ionicon-stroke-width: 70px;" name="add"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ng-container>
                <ng-container *ngIf="item.quantityInCart === 0">
                  <ion-buttons>
                    <ion-button size="small" color="primary" fill="clear"
                      (click)="addToCart(item); $event.stopPropagation()">
                      <ion-icon slot="icon-only" name="cart"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ng-container>

              </div>

              <!-- <app-pos-card-cart-buttons [item]="item"
                (addToCart)="addToCart(item)"></app-pos-card-cart-buttons> -->
              <div class="price">
                <p class="whole"> {{item.price}}</p>
                <div class="cent-denomination">
                  <div class="cents">.{{ '00' }}</div>
                  <div class="denomination">ZAR</div>
                </div>
              </div>
              <p class="product-name">
                {{item.item_name}}
              </p>
            </div>
          </ion-card>
        </ion-col>
      </ng-container>
      <ng-template #loading>
        Loading...
      </ng-template>

    </ion-row>
  </ion-grid>

  <ng-container *ngIf="(cartItems$ | async) as items">
    <ion-fab *ngIf="items.totalItems " (click)="viewCart()"
      slot="fixed" horizontal="start" vertical="bottom">
      <ion-fab-button color="tertiary">
        <ion-icon name="cart" color="light"></ion-icon>
      </ion-fab-button>
      <ion-badge color="secondary">{{items.totalItems}}</ion-badge>
    </ion-fab>
  </ng-container>

</ion-content>
