<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Point of Sale</ion-title> -->
    <ion-buttons slot="start">
      <ion-button (click)="null" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="search" mode="ios">
      <ion-input type="text" placeholder="Search item"></ion-input>
      <ion-icon size="small" slot="start" name="search-outline"></ion-icon>
      <ion-button slot="end" (click)="null" fill="clear" color="medium">
        <ion-icon size="small" slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-avatar slot="end">
      <img src="./assets/images/woman-avatar.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list-header>
    <ion-label>All Products</ion-label>
    <ion-buttons>
      <ion-button color="dark" (click)="scanCode()" expand="block" fill="clear"
        shape="round">
        <ion-icon slot="icon-only" size="small"
          src="./assets/custom-icons/barcode.svg"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="null" expand="block" fill="clear"
        shape="round">
        <ion-icon slot="icon-only" size="small" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-list-header>

  <ion-grid fixed class>
    <ion-row>
      <!-- <ng-container *ngFor="let i of [].constructor(3)">
        <ion-col *ngFor="let image of images" size="6" size-md="4">
          <ion-card class="card ion-no-margin">
            <div class="image-container">
              <img alt="Silhouette of mountains"
                [src]="'./assets/images/'+ image + '.jpeg'" />
            </div>
            <div class="card-content">
              <div class="buttons">
                <ion-button size="small" fill="clear" (click)="null">
                  <ion-icon slot="icon-only" name="cart"></ion-icon>
                </ion-button>
              </div>
              <div class="price">
                <p class="whole"> 89</p>
                <div class="cent-denomination">
                  <div class="cents">.00</div>
                  <div class="denomination">ZAR</div>
                </div>
              </div>
              <p class="product-name">
                Pure Olive Oil and some reaally long text that is
                not relevant, it just for testiing the clamping of text
              </p>
            </div>
            <div class="info">
            </div>
          </ion-card>
        </ion-col>
      </ng-container> -->

      <ng-container *ngIf="(items$ | async) as items; else loading">
        <ion-col *ngFor="let item of items" size="6" size-md="4">
          <ion-card class="card ion-no-margin">
            <div class="image-container">
              <img [alt]="item.name"
                [src]="item.image" />
            </div>
            <div class="card-content">
              <div class="buttons">
                <ion-button size="small" fill="clear" (click)="null">
                  <ion-icon slot="icon-only" name="cart"></ion-icon>
                </ion-button>
              </div>
              <div class="price">
                <p class="whole"> {{item.price.whole}}</p>
                <div class="cent-denomination">
                  <div class="cents">.{{item.price.cents === 0 ? '00' :
                    item.price.cents}}</div>
                  <div class="denomination">ZAR</div>
                </div>
              </div>
              <p class="product-name">
                {{item.name}}
              </p>
            </div>
          </ion-card>
        </ion-col>
      </ng-container>
      <ng-template #loading>
        Loading...
      </ng-template>

    </ion-row>
  </ion-grid>

</ion-content>
