.content {
  position: absolute;
  text-align: center;
  inset: 0;
  top: 50%;
  transform: translateY(-50%);

  .title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  ion-icon {
    font-size: 100px;
  }

  code-input {
    --item-font-weight: 700;
    --item-font: 24px;
    font: 18px;
  }

  .resend {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  ion-input {
    color: white;
  }

  .icon {
    height: 50%;
    padding: 10px;
    max-height: 250px;
    min-height: 150px;

    app-animated-checkmark {
      --fill: none;
      --checkmark: var(--ion-color-primary);
    }
  }

  ion-button {
    color: white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}