<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text color="dark" default-href="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">

    <ng-container *ngFor="let image of images">

      <app-dashboard-item [image]="image"></app-dashboard-item>
    </ng-container>

    <!-- <ion-label>Discount</ion-label>
    <ion-input
      mode="ios"
      type="text"
      aria-label="discount"
      placeholder="Enter discount code"
      class="ion-margin-vertical input__discount"></ion-input> -->

  </ion-list>

  <div class="summary ion-padding">
    <ion-row>
      <ion-col class="title" size="6">Total Item(s)</ion-col>
      <ion-col class="amount" size="6">8</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="title" size="6">Price</ion-col>
      <ion-col class="amount" size="6">ZAR 903,200</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="title" size="6">Discount</ion-col>
      <ion-col class="amount" size="6">ZAR 3,200</ion-col>
    </ion-row>
    <div class="dotted-line"></div>
    <ion-row>
      <ion-col class="title" size="6">Total Price</ion-col>
      <ion-col class="amount" size="6">ZAR 900,000</ion-col>
    </ion-row>
  </div>

  <div class="delivery-options">
    <ion-button class="ion-margin" (click)="null" expand="full" fill="solid"
      shape="round">
      Pick Up Now
    </ion-button>
    <ion-button class="ion-margin" (click)="null" expand="full" fill="outline"
      shape="round">
      Cash On Delivery
    </ion-button>

    <!-- <ion-radio-group value="delivery" (ionChange)="null">
      <ion-item class="ion-margin-bottom" lines="none">
        <ion-radio mode="md" value="pick"
          aria-label="pick up now">
          Pick Up Now</ion-radio>
      </ion-item>
      <ion-item class="ion-margin-bottom" lines="none">
        <ion-radio mode="md" value="COD"
          aria-label="Cash On Delivery">
          Cash On Delivery</ion-radio>
      </ion-item>
    </ion-radio-group> -->
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="ion-margin" (click)="goToNextPage()" expand="block"
      fill="solid">
      Next
    </ion-button>
  </ion-toolbar>
</ion-footer>
