ion-content {
  --background: var(--linear-background);

  .content {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.125rem;
        color: white;
      }
    }

    .welcome {
      text-align: center;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      color: white;
    }

    form {

      fieldset {
        border: none;
        padding: 0;
      }

      ion-label {
        color: #FCFCFC;
        font-size: 1rem;
        font-weight: 600;
        line-height: 150%;
      }

      ion-input {
        --background: white;
        --border-radius: 3.125rem;
        --padding-start: 15px;
        color: #1E1E1E;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 150%;
        height: 3rem;
        min-height: unset;
      }

      .extra {
        display: flex;
        justify-content: space-between;
        color: #FCFCFC;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 150%;

        ion-checkbox {
          --checkbox-background: none;

          &::part(container) {
            border-radius: 3.125rem;
            border: 2px solid #9EBFF9;
            size: 1.3125rem
          }
        }
      }

      ion-button[type=submit] {
        color: #FCFCFC;
        font-size: 1rem;
        font-weight: 700;
        line-height: 150%;
        margin-top: 30px;
        margin-bottom: 10px;
        height: 3rem;
      }

    }

    .create-account {
      color: #FCFCFC;
      text-align: center;
      font-size: 1rem;
      line-height: 150%;

      a {
        font-weight: 700;
      }
    }
  }
}