<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text color="dark" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="(sales$ | async) as sales; else loadingSales">

      <ion-item *ngFor="let sale of sales" detail (click)="viewSale(sale)"
        [routerLink]="['/pos/sales', sale.name, sale]">
        <ion-label>
          <h2>{{sale.name}} <span style="color: var(--ion-color-secondary)"><strong>
                ZAR: {{sale.amount}}</strong></span>
          </h2>
          <p>{{sale.modified | date: 'dd MMM, yyyy h:mm a' }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #loadingSales>
      <ion-item *ngFor="let item of [].constructor(15)">
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-template>

  </ion-list>
</ion-content>
