ion-modal>.ion-page,
ion-modal.auto-height {
  --height: auto;

  &.bottom {
    align-items: flex-end;
  }

  .inner-content {
    max-height: 80vh;
    overflow: auto;
  }
}

.error-container {
  .error-message {
    margin: calc(var(--page-margin) / 2) 0px;
    display: flex;
    align-items: center;
    color: var(--ion-color-danger);
    font-size: 0.875rem;

    ion-icon {
      padding-inline-end: calc(var(--page-margin) / 2);
      flex-shrink: 0;
    }
  }
}