<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text color="dark" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="image-container">
    <img
      [src]="item.image ?? './assets/images/no-image.svg'"
      [alt]="item.item_name">
  </div>
  <div class="item-info ion-padding ion-text-center">

    <p class="item-info__name">{{item.item_name}}</p>
    <p class="item-info__price">ZAR. {{item.standard_rate}}</p>

  </div>

  <div class="caution-info ion-text-center">
    <h4 class="ion-margin-vertical">Realtime Stock Management</h4>
    <p class="ion-margin-vertical">Changes will be reflected immediately.</p>
  </div>

  <div class="item-amount ion-padding-vertical">
    <ion-icon slot="icon-only" src="./assets/custom-icons/inventory.svg"></ion-icon>
    &nbsp;<span>{{item.opening_stock}}</span> &nbsp; Pieces
  </div>

  <ion-row class="action-btns ion-margin-vertical">
    <ion-col size="6">
      <ion-button (click)="null" expand="block" fill="outline" shape="round">
        Decraese Quantity
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="null" expand="block" fill="outline" shape="round">
        Increase Quantity
      </ion-button>

    </ion-col>
    <ng-container *ngIf="cartItems$ | async as cartItems">

      <ng-container *ngIf="itemInCart$ | async; else add">
        <ion-col size="6">
          <ion-buttons class="ion-justify-content-center">

            <ion-button
              *ngIf="(quantityInCart$ | async) === 1; else reduceItems"
              slot="start" (click)="reduceFromCart()"
              fill="clear"
              color="danger">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>

            <ng-container *ngFor="let item of cartItems.items; let i = index">

              <strong>
                <p *ngIf="item.item_name === paramId">
                  {{item.quantity}}
                </p>
              </strong>
            </ng-container>
            <ng-template #reduceItems>
              <ion-button slot="start" (click)="reduceFromCart()">
                <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
              </ion-button>

            </ng-template>

            <ion-button slot="end" (click)="addToCart()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ng-container>
    </ng-container>

    <ng-template #add>
      <ion-col size="6">
        <ion-button (click)="presentAlert()" expand="block" fill="outline"
          shape="round">
          Purchase Product
        </ion-button>
      </ion-col>
    </ng-template>

    <ion-col size="6">
      <ion-button (click)="null" expand="block" fill="outline" shape="round">
        Set Low Stock Alert
      </ion-button>

    </ion-col>
    <ion-col size="6" offset="3">
      <ion-button (click)="getCartItems()"  expand="block" fill="clear"
        shape="round">
        View Inventory History
      </ion-button>

    </ion-col>
  </ion-row>

  <ng-container *ngIf="(cartItems$ | async) as items">
    <ion-fab *ngIf="items.totalItems " (click)="viewCart()"
      slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button color="tertiary">
        <ion-icon name="cart" color="light"></ion-icon>
      </ion-fab-button>
      <ion-badge color="secondary">{{items.totalItems}}</ion-badge>
    </ion-fab>
  </ng-container>

</ion-content>


